.cardContainer {
  margin-bottom: 50px !important;
  flex-basis: 0 !important;

  background-color: hsl(230, 100%, 99%) !important;

  width: 100% !important;
  height: 100% !important;
}

.firstLabel {
  font-family: "Manrope", sans-serif;
  color: hsl(225, 20%, 60%);

  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;

  text-transform: uppercase;
}
